<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animal Profiles Dashboard</title>
     <link rel="stylesheet" href="dashboard.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
<body>
    <%- include("_dashheader.ejs")%>
    <main>
        <%- include("_dashnav.ejs")%>
        <section class="main-content">
            <h2>Per animal Production Chart</h2>
            <div class="animals-info">
                <%- %>
            </div>
        </section> 
    </main>
</body>
</html>